<h1>Battle1</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input type="text" name="player_one">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_two">
  </label>
  <input type="submit" value="Submit">
</form>
