
<h1> Let the battle commence... <%= @player_one %> vs <%= @player_two %> </h1>
<h1> <%= @player_two %>: 60HP </h1>

<!-- this is just an "attack" text link... -->
<!-- <a href="/attack">Attack!</a> -->

<form action="/attack">
  <input type="submit" value="Attack">
</form>
